NFQWS_PORTS_TCP: 80,443,2053,2083,2087,2096,8443,5222
NFQWS_PORTS_UDP: 443,19294-19344,50000-50100
MODE_FILTER: autohostlist
FLOWOFFLOAD: hardware

NFQWS_OPT: |
  # youtube tcp
  --filter-tcp=80,443
  --hostlist=/opt/zapret/ipset/zapret-hosts-google.txt
  --dpi-desync=multisplit
  --dpi-desync-split-pos=1,sniext+1
  --dpi-desync-split-seqovl=1
  --new

  # youtube quic
  --filter-udp=443
  --hostlist=/opt/zapret/ipset/zapret-hosts-google.txt
  --dpi-desync=fake 
  --dpi-desync-repeats=11 
  --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin
  --new

  # WA rule
  --filter-tcp=80,443,5222
  --ipset=/opt/zapret/ipset/wa-ipset.txt
  --dpi-desync multisplit
  --dpi-desync-split-seqovl 1
  --dpi-desync-split-pos 3,midsld,sld+1
  --dpi-desync-cutoff=0
  --dpi-desync-any-protocol
  --new

  # [UDP] WA rule
  --filter-udp=3478,443,50000-65534
  --ipset=/opt/zapret/ipset/wa-ipset.txt
  --dpi-desync=ipfrag2
  --dpi-desync-cutoff=0
  --new

  # rkn blocked domains
  --filter-tcp=443
  --hostlist=/opt/zapret/ipset/zapret-hosts-user.txt
  --dpi-desync=fake,multisplit 
  --dpi-desync-split-seqovl=654 
  --dpi-desync-split-pos=1 
  --dpi-desync-fooling=ts 
  --dpi-desync-repeats=6 
  --dpi-desync-split-seqovl-pattern=/opt/zapret/files/fake/max.bin 
  --dpi-desync-fake-tls=/opt/zapret/files/fake/max.bin
  --new

  # [quic] rkn blocked domains
  --filter-udp=443
  --hostlist=/opt/zapret/ipset/zapret-hosts-user.txt
  --dpi-desync=fake
  --dpi-desync-repeats=20
  --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin
  --new

  # cdn ip ranges (cloudflare, amazon, hetzner and so on)
  --comment AmazonTCP
  --filter-tcp=443
  --ipset=/opt/zapret/ipset/cust2.txt
  --dpi-desync=fake,multisplit 
  --dpi-desync-split-seqovl=654 
  --dpi-desync-split-pos=1 
  --dpi-desync-fooling=ts 
  --dpi-desync-repeats=6 
  --dpi-desync-split-seqovl-pattern=/opt/zapret/files/fake/max.bin 
  --dpi-desync-fake-tls=/opt/zapret/files/fake/max.bin
  --new

  # [quic] cdn ip ranges (cloudflare, amazon, hetzner and so on)
  --comment AmazonUDP
  --filter-udp=443
  --ipset=/opt/zapret/ipset/cust2.txt
  --dpi-desync=fake
  --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin
  --dpi-desync-repeats=8
  --new

  # discord stun voice
  --filter-udp=19294-19344,50000-50100
  --filter-l7=discord,stun
  --dpi-desync=fake
  --dpi-desync-repeats=6
  --new

  # discord media
  --filter-tcp=2053,2083,2087,2096,8443
  --hostlist-domains=discord.media
  --dpi-desync=multisplit
  --dpi-desync-split-seqovl=652
  --dpi-desync-split-pos=2
  --dpi-desync-split-seqovl-pattern=/opt/zapret/files/fake/tls_clienthello_www_google_com.bin
  --new

  # any hosts that are not on the list
  --filter-tcp=443 <HOSTLIST>
  --dpi-desync=fake,multisplit 
  --dpi-desync-split-seqovl=654 
  --dpi-desync-split-pos=1 
  --dpi-desync-fooling=ts 
  --dpi-desync-repeats=8 
  --dpi-desync-split-seqovl-pattern=/opt/zapret/files/fake/max.bin 
  --dpi-desync-fake-tls=/opt/zapret/files/fake/max.bin
